$color-background-dark: #161320;
$color-orange-light: #F8BD96;
$color-teal-light: #B5E8E0;
$color-pink-bright: #F28FAD;
$color-green-light: #ABE9B3;
$color-purple-light: #DDB6F2;
$color-pink-light: #E8A2AF;
$color-blue-light: #96CDFB;
$color-purple-bright: #bd93f9;
$color-gray-dark: #1A1826;
$color-orange-bright: #F8BD96;
$color-red-bright: #BF616A;
$color-pink-lightest: #F2CDCD;
$color-pink-urgent: #FF007C;
$color-yellow-light: #FAE3B0;

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  border: none;
  font-size: 15px;
  transition: all .3s;
}

.field {
  padding: 4px 8px;
  border-radius: 10px;
  background: $color-background-dark;
}

.field.cpu {
  color: $color-blue-light;
}

.field.temp {
  color: $color-green-light;
}

.field.temp.critical {
  color: $color-background-dark;
  background: $color-red-bright;
}

.field.ram {
  color: $color-purple-light;
}

.field.audio {
  color: $color-yellow-light;
}

.field.audio.muted {
  background: $color-pink-urgent;
}

.field.time {
  color: $color-green-light;
}

.field.power {
  color: $color-pink-light;
  padding: 0 10px 0 12px;

  label {
    font-size: 18px;
  }
}


.workspaces-widget {
  .workspace-entry-container {
    border-radius: 50%;
    border: 3px solid #FFFFFF;

    &.occupied {
      border-color: $color-green-light;
    }

    .workspace-entry {
      border-radius: 50%;
      margin: 2px;

      background-color: white;

      &.urgent {
        background-color: $color-pink-urgent;
      }
    }
  }
}
