* {
	border: none;
	border-radius: 10px;
	font-family: "JetbrainsMono Nerd Font";
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: transparent;
	background: transparent;
}

#workspaces {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #161320;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #B5E8E0;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
	transition: all .3s;
	padding: 0 14px;
}

#workspaces button.urgent {
	transition: none;
	color: white;
	background: #F28FAD;
	font-size: 4px;
}


#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	background: #FAE3B0;
	color: black;
}

#workspaces button.active {
	transition: none;
	background: #ABE9B3;
	color: black;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #bd93f9;
	background: #161320;
}

#network:hover {
	color: #161320;
	background: #bd93f9;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	color: #FAE3B0;
	background: #1A1826;
	transition: all .3s;
}

#pulseaudio:hover {
	color: #161320;
	background: #FAE3B0;
}

#pulseaudio.muted {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #E8A2AF;
	background: #1A1826;
}


#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	color: #B5E8E0;
	background: #161320;
	transition: all .3s;
}

#battery:hover {
	color: #161320;
	background: #B5E8E0;
}

#battery.charging,
#battery.plugged {
	color: #B5E8E0;
	background-color: #161320;
}

#battery.plugged:hover {
	color: #161320;
	background: #B5E8E0;
}

#battery.critical:not(.charging) {
	background-color: #161320;
	color: #B5E8E0;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: #BF616A;
		color: #B5E8E0;
	}
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	color: #F8BD96;
	background: #161320;
	transition: all .3s;
}

#backlight:hover {
	color: #161320;
	background: #F8BD96;
}

#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	color: #ABE9B3;
	background: #161320;
	transition: all .3s;
}

#clock:hover {
	color: #161320;
	background: #ABE9B3;
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	color: #DDB6F2;
	background: #161320;
	transition: all .3s;
}

#memory:hover {
	color: #161320;
	background: #DDB6F2;
}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	color: #96CDFB;
	background: #161320;
	transition: all .3s;
}

#cpu:hover {
	color: #161320;
	background: #96CDFB;
}

#temperature {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	color: #ABE9B3;
	background: #161320;
	transition: all .3s;
}

#temperature:hover {
	color: #161320;
	background: #ABE9B3;
}

#temperature.critical {
	background: #BF616A;
	color: #161320;
}

#temperature.critical:hover {
	color: #161320;
	background: #ABE9B3;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #B5E8E0;
	background: #161320;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 8px;
	margin-bottom: 0px;
	border-radius: 10px;
	color: #F28FAD;
	background: #161320;
	transition: all .3s;
}

#custom-power:hover {
	color: #161320;
	background: #F28FAD;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	color: #F2CDCD;
	background: #161320;
	transition: all .3s;
}

#custom-media:hover {
	color: #161320;
	background: #F2CDCD;
}	

#custom-vpn {
	font-size: 16px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	color: #161320;
	transition: all .3s;
}

#custom-vpn:hover {
	color: #161320;
	background: #161320;
}

#custom-vpn.connected {
	background: #161320;
	color: #ABE9B3;
}

#custom-vpn.connected:hover {
	color: #161320;
	background: #ABE9B3;
}

#custom-vpn.disconnected {
	background: #161320;
	color: #F28FAD;
}

#custom-vpn.disconnected:hover {
	color: #161320;
	background: #F28FAD;
}

#custom-scratchpad {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	color: #ABE9B3;
	background: #161320;
	transition: all .3s;
}

#custom-scratchpad:hover {
	color: #161320;
	background: #ABE9B3;
}

#custom-brightness {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	color: #ABE9B3;
	background: #161320;
	transition: all .3s;
}

#custom-brightness:hover {
	color: #161320;
	background: #ABE9B3;
}	
